.toolbar {
    position:fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    background-color: rgba(220, 239, 255, 0.8);
    color:rgb(0, 0, 0);
    width:100%;
}
.toolbar nav {
    opacity:0.1;
}

.my-name {
    font-size: 1.5rem;
}
.toolbar-links ul {
    margin:0;
    padding:0;
    display: flex;
}
.toolbar-links li {
    list-style: none;
}
.toolbar-links li a {
    text-decoration: none;
    color:black;
    padding: 1rem;
    display: block;
}

.toolbar-links li a:hover {
    color:gray;
}



.hamburger {
    position: absolute;
    display: none;
    top:.4rem;
    right:1rem;
    flex-direction: column;
    justify-content: space-between;
    width:25px;
    height:15px;
}
.bar {
    height:2.5px;
    width:100%;
    background-color: black;
    border-radius: 10px;
}

@media(max-width:400px) {
    .hamburger{
        display:flex;
    }
    .toolbar-links{
        width:100%;
    }
    .hamOff {
        display: none;
    }
    .toolbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .toolbar-links ul {
        flex-direction: column;
        width:100%;
    }
    .toolbar-links ul{
        text-align: right;
    }
    .toolbar-links li a {
        padding:.35rem .8rem;
    }
    .toolbar-links.active {
        display:flex;
    }

}